@import url('https://fonts.googleapis.com/css?family=Mukta:700');

  @media screen and (min-width: 320px) {
    .h-md-100 { height: 100vh; }
    /* #tagtitle {font-size: x-large; font-weight: bold;}  */

  }

.split-left{
  /* background-color:#3F51B5; */
  background-image: url("src/assets/metrics_home.svg");
  background-position: left center;
  background-repeat:no-repeat;
  background-size: contain;
}

.split-right{
    background-color:#6C63FF;
}

.call-to-action{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
}

#tag-title{
  font-family: 'Titillium Web', sans-serif;font-weight: bold;font-size: larger;
}

a{
  text-decoration: none;
}

.mat-tab-label-active{
  color: rgba(0,0,0,1);
  opacity:1;
}
hr {
  border: none;
  border-top: 3px;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 2px;
}

hr:after {
  background: #fff;
  content: 'or';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

a{
  color: royalblue;
  font-family: 'Titillium Web', sans-serif;
  font-weight:bolder;
  text-decoration: none;
}
      