<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->
  
    <div class="col-md-4 h-md-100 d-none d-md-block split-left pr-2">
      <div class="d-md-flex flex-md-column align-items-center h-100 p-3">
        <img src="assets/chrome.png" width="60" height="40">
        <p class="call-to-action pt-2">One stop portal for system diagnostics and telemetry </p> <span></span>
        <div class="logoarea pt-5 pb-5 mt-10" style="position: relative;">
          <!-- First half content here -->
        </div>
      </div>
    </div>

    <div class="h-md-100 container split-right justify-content-center align-items-center pt-5">    
           <div class="col-md-4 col-10 align-items-center mx-auto">
               <app-battery></app-battery>
            </div>
            <div class="col-md-4 col-10 mx-auto pt-5 text-center">
                <a mat-raised-button class="pl-5 pr-5" routerLink="/system/data/cpu"><i-feather name="cpu"></i-feather><span> System data</span></a>
            </div> 
            <div class="col-md-4 col-10 mx-auto pt-5 text-center">
                <a mat-raised-button class="pl-5 pr-5" routerLink="/system/diagnostics"><i-feather name="settings"></i-feather><span> Diagnostics manager</span></a>
            </div> 
            <div class="col-md-4 col-10 mx-auto pt-5 text-center">
                <a mat-raised-button class="pl-5 pr-5" routerLink="/system/state"><i-feather name="activity"></i-feather><span> System state</span></a>
            </div> 
    </div>
</div>