<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->
  
    <div class="col-md-4 h-md-100 d-none d-md-block split-left pr-2">
      <div class="d-md-flex flex-md-column align-items-center h-100 p-3">
        <img src="assets/keptn.png" width="80" height="80">
        <p class="call-to-action pt-4">One stop portal for all keptn integrations </p>
        <div class="logoarea pt-5 pb-5 mt-10" style="position: relative;">
          <!-- First half content here -->
        </div>
      </div>
    </div>

    <div class="h-md-100 container split-right justify-content-center align-items-center pt-5">    
           <div class="col-md-7 align-items-center mx-auto">
              <p class="opening-message pt-4">Welcome to the Keptn Integrations Hub. </p>
            </div>
            <div class="col-md-4 col-10 mx-auto pt-5 text-center">
              <i-feather name="anchor" class="size" style="color: white;"></i-feather>
            </div> 
            <div class="col-md-4 col-10 mx-auto justify-content-center align-items-center pt-5 text-center">
              <p class="opening-info pt-4">Find all integrations available for Keptn and maintained by the community</p>
            </div> 
            <div class="col-md-4 col-10 mx-auto pt-5 text-center">
              <button mat-raised-button class="pl-5 pr-5 pt-2 pb-2" routerLink="integrations/dashboard/services"><span> Take me there  </span> <i-feather name="arrow-right-circle"></i-feather></button>
            </div> 
    </div>
</div>